global
    maxconn 4096
    log stdout format raw local0

defaults
    log     global
    timeout connect 5s
    timeout client  1h
    timeout server  1h

frontend clickhouse_http
    bind *:8123
    mode http
    option httplog
    default_backend ch_http

backend ch_http
    mode http
    balance roundrobin
    option httpchk GET /ping
    http-check expect status 200
    server ch-01 ch-01:8123 check inter 2s fall 3 rise 2
    server ch-02 ch-02:8123 check inter 2s fall 3 rise 2
    server ch-03 ch-03:8123 check inter 2s fall 3 rise 2
    server ch-04 ch-04:8123 check inter 2s fall 3 rise 2

frontend clickhouse_native
    bind *:9000
    mode tcp
    option tcplog
    default_backend ch_native

backend ch_native
    mode tcp
    balance roundrobin
    option tcp-check
    server ch-01 ch-01:9000 check inter 2s fall 3 rise 2
    server ch-02 ch-02:9000 check inter 2s fall 3 rise 2
    server ch-03 ch-03:9000 check inter 2s fall 3 rise 2
    server ch-04 ch-04:9000 check inter 2s fall 3 rise 2

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
